[submodule "frontend"]
	path = frontend
	url = https://github.com/gamr416/robbo_personal_account_frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/gamr416/robbo_personal_account_backend.git
